//Colors

$red: #ef9096;
$turquoise: #14aab9;
$white: #fff;
$grey-darker: #18191b;

$danger: $red;
$background: $grey-darker;
$text: $white;
$title-color: $white;
$subtitle-color: $white;
$title-strong-color: $white;
$subtitle-strong-color: $white;

//Element Styling
$radius: 6px;
